# --- COMPILADOS E TEMPORÁRIOS DO DELPHI ---
**/__history/
**/__recovery/
*.~*
*.dcu
*.exe
*.dres
*.identcache
*.stat
*.local
*.deploymaps
*.o
*.obj
**/Win32/
**/Win64/
**/Debug/
**/Release/

# --- PYTHON E AMBIENTE VIRTUAL ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/
*.db

# --- ANGULAR E NODE.JS ---
node_modules/
dist/
.angular/
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# --- OUTROS ---
*.log
tmp/
temp/